@mixin section-title {
  width: 100%;
  margin-bottom: $spacing * 4;
  > h2 {
    max-width: 90px;
    font-family: B Traffic Bold;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid $text_secondary_color;
    padding-bottom: $spacing * 2;
    margin-bottom: $spacing * 3;
    position: relative;
    &::after {
      content: "";
      width: 35px;
      height: 2px;
      background-color: $color_three;
      position: absolute;
      right: 27px;
      bottom: -2px;
      z-index: 2;
    }
  }
  > p {
    min-width: 100%;
    line-height: 26px;
    color: $text_primary_color;
    text-align: justify;
    text-justify: inter-word;
  }
}

@mixin column-title {
    display: flex;
    align-items: center;
    margin-bottom: $spacing * 3;
    > i {
      padding: $spacing * 3;
      border-radius: 50%;
      background-color: $primary_color;
      color: #fff;
      font-size: 1.5rem;
      margin-left: $spacing * 2;
    }
    > h3 {
      font-size: 1.4rem;
      font-family: B Traffic Bold;
      font-weight: bold;
      transition: 0.2s;
      padding: $spacing * 2 0;
      &:hover {
        border-bottom: 2px solid $primary_color;
      }
    }
}
