@import "var.scss";
@import "mixins.scss";

@font-face {
  font-family: Tanha;
  src: url("Tanha.eot");
  src: url("Tanha.eot?#iefix") format("embedded-opentype"),
    url("Tanha.woff") format("woff"), url("Tanha.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: B Traffic Bold;
  src: url(assets\fonts\B TrafficBold_0.ttf) format("ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  background-color: $main_background;
  font-family: Tanha, sans-serif;
}

.header {
  width: 70px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding-right: $spacing;
  overflow: visible;
  background-color: $background;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  .nav-menu {
    > * {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    // navbar should be managed to avoid whole ul demonstration with hovering one: or back to pre style with width and h
    .link-wrapper {
      display: flex;
      flex-direction: column;

      > .link {
        white-space: nowrap;
        position: relative;

        &:hover > a {
          text-decoration: none;
          width: 140px;

          > i {
            color: $primary_color;
            font-size: 1.5rem;
          }
          > span {
            display: block;
          }
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-bottom: $spacing;
          transition: 0.3s;
          font-size: 15px;
          color: $secondary_color;
          border-radius: $radius * 8;
          background-color: $background_2;
          height: 56px;
          width: 56px;
          overflow: hidden;
          text-decoration: none !important;
          transition: 0.4s;
          > i {
            display: block;
            color: $secondary_color;
          }
          > span {
            display: none;
            padding: 5px 0 7px 0;
            background-color: $background_2;
            font-size: 1rem;
            margin-right: $spacing * 4;
            font-weight: bold;
          }
        }
      }
      .active-btn {
        > a > i {
          color: $primary_color;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.intro {
  width: calc(100% - 70px);
  height: 100vh;
  margin-right: 60px;
  // margin-top: $spacing * 2;

  .intro-title {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .intro-img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      clip-path: ellipse(100% 55% at 48% 44%);
    }
    > .intro-title-text {
      text-align: center;
      margin-top: $spacing * 10;
      > h1 {
        font-family: B Traffic Bold;
        font-weight: bold;
        margin-bottom: $spacing * 3;
        font-size: 3rem;
      }
      > p {
        font-family: B Traffic Bold;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        color: $text_secondary_color;
        overflow: hidden;
        > .cursor {
          display: inline-block;
          background-color: $text_secondary_color;
          margin-right: 0.1rem;
          width: 1.5px;
          height: 14px;
          animation: blink 1s infinite;
        }
      }

      .typing {
        animation: none;
      }
    }
    > .social-media-links {
      margin-top: $spacing * 4;
      display: flex;
      > a {
        display: block;
        font-size: 1.4rem;
        margin-right: $spacing * 3;
        color: $primary_color;
      }
      > a:first-of-type {
        margin-right: 0;
      }
      > a:hover {
        color: $secondary_color;
        font-size: 1.6rem;
      }
    }
  }
}

.about-me {
  padding: $padding;
  width: 100%;
  .about-header {
    @include section-title;
  }
  .about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content {
    width: 100%;
    margin-right: $spacing * 2;

    > h3 {
      font-family: B Traffic Bold;
      font-weight: bold;
      color: $primary_color;
    }
    > p {
      width: 100%;
      line-height: 26px;
      margin-bottom: $spacing * 3;
      text-align: justify;
      text-justify: inter-word;
    }
    ul {
      width: 100%;
      list-style-type: none;
      overflow: hidden;
      li {
        margin-bottom: $spacing * 2;
        display: flex;
        align-items: center;
        > * {
          margin-left: $spacing;
        }
        > i {
          color: $color_three;
        }
      }
    }
  }
}

.resume {
  width: 100%;
  padding: $padding;
  .resume-header {
    @include section-title;
  }

  .resume-title {
    @include column-title;
  }
  .resume-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 $spacing * 3 $spacing * 3 0;
    margin-top: -2px;
    border-right: 2px solid $color_three;
    position: relative;
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $main_background;
      border: 2px solid $color_three;
      position: absolute;
      right: -9px;
      top: 4px;
    }
    > h4 {
      font-size: 1.1rem;
      margin-bottom: $spacing * 2;
    }
    > h5 {
      font-size: 0.7rem;
      border: 1.7px solid $text_secondary_color;
      color: $text_secondary_color;
      padding: $spacing;
      border-radius: $radius;
      letter-spacing: 1.5px;
      margin-bottom: $spacing * 2;
    }
    > p {
      color: $text_secondary_color;
    }
    > p:nth-of-type(1) {
      font-size: 0.9rem;
      font-weight: bold;
      color: $primary_color;
    }
  }
}

.skills {
  width: 100%;
  background-color: #cad2c557;
  padding: $padding;
  .skills-title {
    @include section-title;
  }
  .skill {
    > .skill-title {
      @include column-title;
      > h3 {
        border-bottom: 1px solid $primary_color;
      }
    }
    ul {
      list-style-type: none;
      li {
        margin-bottom: $spacing * 3;
        i {
          color: $color_three;
          font-size: 1.2rem;
          margin-left: $spacing;
        }
      }
    }
  }
  .hard-skills ul li {
    > h4 {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: $spacing;
    }
    > h5 {
      font-size: 0.9rem;
      color: $text_secondary_color;
    }
  }
}

.portfolio {
  width: 100%;
  padding: $padding;
  scroll-behavior: smooth;
  .portfolio-title {
    @include section-title;
  }
  .category-btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $spacing * 4 0;
    padding: $spacing * 1.5;
    background-color: $background_2;
    border-radius: $radius;

    > .category-btn {
      width: 50px;
      height: 50px;
      margin-right: $spacing * 3;
      background-color: transparent;
      outline: none;
      border: none;
      border-radius: 50px;
      color: $primary_color;
      font-size: 1.1rem;
      text-transform: capitalize;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        border: 2px solid $primary_color;
      }
      &:first-of-type {
        margin-right: 0;
      }
    }
    .active {
      border: 2px solid $primary_color;
    }
  }
  .project-container {
    display: flex;
    .project {
      width: 100%;
      height: 300px;
      border-radius: $radius * 2;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: 0.4s;
      &:hover .project-details {
        bottom: 0;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $radius;
        position: absolute;
        top: 0;
        left: 0;
      }
      > .project-details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        bottom: -300px;
        right: 0;
        padding: $spacing * 2;
        color: #ffffff;
        background: rgb(127, 129, 129);
        background: linear-gradient(
          3deg,
          rgba(127, 129, 129, 0.7455575980392157) 0%,
          rgba(217, 230, 220, 0.7847732843137255) 81%,
          rgba(207, 222, 210, 0.42903098739495793) 161%,
          rgba(234, 244, 236, 1) 161%
        );
        transition: 0.4s;

        > h4 {
          font-style: italic;
          font-size: 1.2rem;
          padding-left: $spacing * 2;
          margin-left: $spacing * 2;
          border-left: 1px solid $text_secondary_color;
        }
        > h5 {
          font-size: 0.9rem;
          margin-left: $spacing * 2;
        }
        > a {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #ffffff;
          transition: 0.4s;
          &:hover {
            border: 1px solid $color_three;
            > i {
              color: $color_three;
            }
          }
          > i {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.contact {
  padding: $padding;
  .contact-title {
    @include section-title;
  }
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing * 3;
    .contact-icon > i {
      display: block;
      background-color: $color_three;
      color: #ffffff;
      width: 56px;
      height: 56px;
      border-radius: $radius * 3;
      margin-bottom: $spacing;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      &:hover {
        background-color: transparent;
        border: 2px solid $color_three;
        color: $color_three;
      }
    }
    .contact-details {
      margin-right: $spacing * 3;
      overflow: hidden;
      > h3 {
        font-size: 1.2rem;
        font-family: B Traffic Bold;
        font-weight: bold;
        margin-bottom: $spacing;
      }
      > p {
        font-family: B Traffic Bold;
        font-size: 1.1rem;
        margin-bottom: $spacing;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: $primary_color;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  > ul {
    display: flex;
    list-style-type: none;

    > li {
      margin-left: $spacing * 3;
      &:last-of-type {
        margin-left: 0;
      }
      > a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary_color;
        background-color: #ffffff;
        transition: 0.4s;
        &:hover {
          font-size: 1.5rem;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .up-btn {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $color_three;
    color: $main_background;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.5rem;
    transition: 0.4s;
    &:hover {
      background-color: #ffffff;
      border: 1px solid $color_three;
      color: $color_three;
    }
  }
}

@keyframes blink {
  0% {
    background-color: $text_secondary_color;
  }
  49% {
    background-color: $text_secondary_color;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: $text_secondary_color;
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    > .nav-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $spacing;
      > .link-wrapper {
        flex-direction: row;
        .link {
          width: 56px;
          &:hover {
            > a {
              display: flex;
              align-items: center;
              flex-direction: column;
              width: 56px;
              > i {
                font-size: 1.3rem;
              }
              > span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .intro {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
    margin-right: 0;
    margin-top: 70px;
  }
  .about-me {
    padding: $padding_small;
  }
  .resume {
    padding: $padding_small;
  }
  .skills {
    padding: $padding_small;
  }
  .portfolio {
    padding: $padding_small;
    .project-gallery {
      .project > img {
        height: 150px;
      }
    }
  }
  .contact {
    padding: $padding_small;
  }
}

@media screen and (max-width: 992px) {
  .intro .intro-container {
    display: none;
  }
  .about-me .about-content {
    margin-top: $spacing * 3;
    margin-right: 0;
  }
}
