$background: rgba(255, 255, 255, 0.8);
$background_2: #faf6f3;
$main_background: #f4ede6;
$primary_color: #6b9080;
$secondary_color: #323232;
$color_three: #a4c3b2;
$text_primary_color: #343a40;
$text_secondary_color: #7a7a7a;

$spacing: 8px;
$padding: 70px 100px;
$padding_small: 70px 50px;
$radius: 6px;
